body {
    background: url("background.png");
    background-size: cover;
    background-attachment: fixed;
    align-self: center;
    padding: 5vh;
}

content {
    background-color: rgba(211, 211, 211, .9);
    display: grid;
    background-size: 100vw 100vh;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-self: center;
    justify-items: center;
    border-radius: 15px;
    padding: 5vh;
    max-height: fit-content;

}

p {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80vw;
    position: relative;
}

text {
    display: grid;
    grid-template-rows: auto;
    max-width: fit-content;
    font-size: 1.5vw;
}

img {
    max-width: 30vw;
}

iframe {
    max-width: 70vw;
}

video {
    max-width: 70vw;
}

@media only screen and (max-device-width: 500px) {
    img {
        max-width: 250px;
    }

    iframe {
        max-width: 250px;
        max-height: 150px;
    }

    video {
        max-width: 250px;
    }

    text {
        display: grid;
        grid-template-rows: auto;
        max-width: fit-content;
        font-size: 1.5vw;
        max-width: 250px;
    }

    p {
        max-width: 250px;
    }
}