body {
    background: url("background.png");
    background-size: cover;
    background-attachment: fixed;
    padding: 5vh;
    display: grid;
    grid-template-rows: 1fr 9fr;
    align-items: space-between;
    grid-row-gap: 5%;
}

content {
    background-color: rgba(211, 211, 211, .9);
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    justify-items: center;
    align-items: start;
    border-radius: 15px;
    padding: 20px;
}

h1 {
    font-size: 40px;
}

.video {
    justify-self: right;
    padding-left: auto;
    position: static;
}

meny .hidden {
    background-color: rgba(211, 211, 211, .9);
    border-radius: 15px;
    justify-items: center;
    align-items: start;
}